body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #000000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.button {
  border: 0;
  padding: .5em;
  background-color: #ddddFF;
  color: #000066;
  text-decoration: none;
  position: relative;
}
.button:hover {
  background-color: #aaaaff;
  color: 0000FF ; 
}
.button:active {
  top: 1px;
}
