<?php
$dbserver = 'localhost' ; 
$dblogin = 'glassuser' ; 
$dbpasswd = 'glassuserpasswd' ; 
$database = 'glass' ; 
//  brand shows up in the top menu, it's a project or app name
$brand = 'GLASS' ; 
//  path from web server root. Might be '/' or '' if this is in a root directory for a website
$webroot = '/glass/' ; 
//  actual path to files
$shellroot = '/home/domains/foo.com/public/glass' ; 
//  "reservoir" is a temporary directory used by reporting system for reports to be downloaded. 
//  It can be (and should be) outside of the public web server tree. 
$reservoir = '/home/domains/foo.com/reservoir' ; 
//internationalization settings
$thousands = ',' ; 
$decimals = '.' ; 
$defaultlang = 'en' ; 
//  This file should be copied to settings.inc and set for your system. 
//  .inc files should be configured to be non-retrievable by your web server
?>

